/* Core Stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    line-height: 1.7;
    color: #FFFFFF;
    background-color: #444444;
}

a {
    color: #1F8CD6;
    text-decoration: none;
}

a:hover {
    color: #175E91;
}

pre {
    background: #F0F0F0;
    margin: 1rem 0;
    border-radius: 2px;
}

blockquote {
    border-left: 10px solid #eee;
    margin: 0;
    padding: 0 2rem;
}

/* Utility Classes */
.wrapper {
    width:65%;
    max-width: 1280px;
    margin:auto;
}

.wrapper img{
    max-width:100% !important;
}

.padding {
    padding: 2rem 1rem !important;
}

.left {
    float: left;
}

.right {
    float: right
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Content Styling */
.header .padding {
    padding: 1rem 0;
}

.header {
    background-color: #444444;
    color: #FFFFFF;
}

.header a {
    color: #fff;
}

.header .logo {
    font-size: 1.7rem;
    text-transform: uppercase;
}

.footer {
    background-color: #444444;
}

/* Menu Settings */
.main-nav ul {
    text-align: center;
    letter-spacing: -1em;
    margin: 0;
    list-style-type: none;
}

.main-nav ul li {
    /*display: inline-block;*/
    letter-spacing: normal;
    float:right;
}

.main-nav ul li a {
    position: relative;
    display: block;
    line-height: 45px;
    color: #fff;
    padding: 0;
    white-space: nowrap;
}

.main-nav > ul > li > a {
    border-radius: 2px;
}

/*Active dropdown nav item */

/* Selected Dropdown nav item */
.main-nav ul li.selected > a {
    color: #FFF;
}

/* Dropdown CSS */
.main-nav ul li {position: relative;}

.main-nav ul li ul {
    position: absolute;
    background-color: #1F8DD6;
    min-width: 100%;
    text-align: left;
    z-index: 999;

    display: none;
}
.main-nav ul li ul li {
    display: block;
}

/* Dropdown CSS */
.main-nav ul li ul ul {
    left: 100%;
    top: 0;
}

/* Active on Hover */
.main-nav li:hover > ul {
    display: block;
}

/* Child Indicator */
.main-nav .has-children > a {
    padding-right: 30px;
}
.main-nav .has-children > a:after {
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 0;
}

.main-nav .has-children .has-children > a:after {
    content: '\f105';
}

#rss {
    width: 2em !important;
    margin-left: 0.5em;
    margin-bottom: -11px;
}

#blogo {
    height:4em;
    margin-bottom:-3.95em;
}

#htxt {
    font-size: 2.2em;
    margin-bottom:-1.55em;
}

.article-list {
    padding-left:0;
    margin-top:0;
}

.article-list-item {
    list-style-type: none;
    padding-top: 3em;
    padding-bottom: 3em;
    border-bottom: 1px solid gray;
}

a{
    color: white;    
}

.article-list-tags {
    display:inline-block;
}

@media only screen and (max-width: 1250px) {
    .wrapper{
	width:80%;
    }

    #foor {
        float:left;
        width: 350px;
    }
}

@media only screen and (max-width: 999px) {
    .wrapper{
        width:90%;
    }

    #foor {
        float:none !important;
        width: 200px !important;
        text-align: center !important;
        margin: 0 auto;
    }

    #foar {
        float:none !important;
        text-align: center !important; 
    }

    .archives {
	padding:0;
    }
}

@media only screen and (max-width: 550px) {
    .search-input {
        width:8em !important;
    }

    #foor {
        float: none !important;
        width: 200px !important;
        text-align: center !important;
        margin: 0 auto;
    }

    .archives {
	padding:0 !important;
    }

    #foar {
        float:none !important;
        text-align: center !important; 
    }
}

@media only screen and (max-width: 550px) {
    #is {
        display:none;
    }

}

.botbor {
    border-bottom: 1px solid gray;
}

.bottop {
    border-bottom: 1px solid gray;
    margin-top:16px;
}

.search-input {
    background-color:#444;
    padding:0.3em;
    border-radius:1em;
    width:100%;
    padding-left:0.5em;
}

#is {
    margin-top:0.39em;
    width: max-content;
}

.pagination{
    margin-top:0rem !important;
}

.padlr {
    padding-left:1rem;
    padding-right:1rem;
    padding-top:0;
    padding-bottom:0;
}

.padnobot {
    padding-left:1rem;
    padding-right:1rem;
    padding-top:2rem;
    padding-bottom:0;
}

#foor {
    float:left;
    width: 500px;
    text-align:left;
}

#foar {
    text-align: right; 
}

.archives {
    overflow: hidden;
    list-style-type: none;
    margin-top: 0 !important;
}

.nbm {
    margin-bottom: 0 !important;
}
