{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    {% if theme_var('custom_favicon') %}
        {% set logo_file = (theme_var('custom_favicon')|first).name %}
        <link rel="icon" type="image" href="{{ url('theme://images/favicon/' ~ logo_file) }}"/>
    {% endif %}

    <link rel="canonical" href="{{ page.url(true, true)|e }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/pure-min.css', 100) %}
    {% do assets.addCss('theme://css/font-awesome.min.css', 99) %}
    {% do assets.addCss('theme://css/custom.css', 98) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes|e }}">

{% block header %}
    <div class="header">
        <div class="wrapper padding">
            <a href="{{ home_url }}" class="navbar-brand mr-10">
            {% if theme_var('custom_logo') %}
                {% set logo_file = (theme_var('custom_logo')|first).name %}
                <img id="blogo" src="{{ url('theme://images/logo/' ~ logo_file)  }}" alt="{{ site.title }}" />
            {% else %}
                <p id="htxt">{{ site.title }}</p>
            {% endif %}
            </a>

            {% block header_navigation %}
            <nav class="main-nav">
                {% include 'partials/navigation.html.twig' %}
            </nav>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="body">
        <div class="wrapper padnobot">
	<div class="bottop"></div>
        {% block content %}{% endblock %}
        {# some collection #}
        {% set collection = page.collection() %}
        {# number of items per page #}
        {% set limit = 3 %}
        {% do paginate( collection, limit ) %}

        {# create list of items #}
	<ul class="article-list">
        {% for article in collection %}
            <li class="article-list-item {% if theme_config.scrollappear_enabled %}scrollappear{% endif %}">
                <a href="{{ article.url }}" title="{{article.title}}">
                    <h4>{{article.title}}</h4>
                    <h5>{{article.header.headline}}</h5>
                </a>
                   
                <a href="{{ article.url }}" title="{{article.title}}">
                    <p>{{article.summary |raw}}</p>
                </a>

		        <div class="article-list-footer">
                    <span class="article-list-date">
                        {{article.date|date('d-m-Y') }}
                    </span>
                    <span class="article-list-divider">-</span>
                    <span class="article-list-minutes">
                        {{ article.content|readingtime }}
                    </span>
                    <span class="article-list-divider">-</span>
                    <div class="article-list-tags">
                        {% for tag in article.taxonomy.tag %}
                            <a href="{{ base_url }}{{config.plugins.taxonomylist.route }}/{{ 'tag' }}{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                </div>
            </div>
            </li>
        {% endfor %}
	</ul>
	</div>

        {# include the pagination bar #}
        {% if config.plugins.pagination.enabled and collection.params.pagination and collection|length > 1 %}
            {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
        {% endif %}

    </section>
{% endblock %}

{% block footer %}
    <div class="footer wrapper padlr">
	<div class="botbor"></div>
        <div id="foor">
            <h4><a class="button" href="{{ base_url_relative }}/random"><i class="fa"></i>Random Article</a></h4>
	    <h4 class="nbm">Popular Tags: </h4>{% include 'partials/taxonomylist.html.twig' with {base_url: my_url, taxonomy: 'tag'} %}

            {% if theme_var('custom_imprint') %}
            <h4><a href="{{ theme_var('custom_imprint') }}">Impressum / Datenschutz</a></h4>
            {% else %}
            <h4><a href="/imprint">Imprint / Privacy</a></h4>
            {% endif %}
        </div>
        <div id="foar">
            <h4 class="nbm">Archiv: </h4>{% include 'partials/archives.html.twig' with {'base_url':new_base_url} %}
        </div>
    </div>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
